html
    head
        title Search results for: "#{query}"
        link(rel="stylesheet" href="/stylesheets/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        h1(class='query-title') Search results for "#{query}":
        ul(class='result-list')
            each result in results
                a(href=result.url class='result-url' target='_blank')
                    li(class='result')
                        span(class='result-url-visible') #{result.url}
                        h3(class='result-title') #{result.title}
                        p(class='result-description') #{result.description}
